body {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.left {
  margin-left: 10%;
}

.right {
  float: right;
  margin-top: -4%;
  margin-right: 12%;
}

.right a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
  margin: 5px;
}

.right a:hover {
  color: rgb(59, 58, 58);
}

.grid {
  display: grid;
  grid-template-columns: 25% 65%;
  gap: 20px;
}

.grid > div {
  height: 1600px;
}

.grid > div ul {
  color: grey;
}

.grid > div ul li {
  margin: 15px;
}

.grid > div ul li a {
  text-decoration: none;
  font-size: 15px;
}

.grid > div ul li a:hover {
  color: black;
}

.container1 {
  height: 950px;
  background-color: rgb(238, 238, 238);
}

.buttons {
  background-color: white;
  height: 100px;
  width: 100px;
}

.grid1 {
  display: grid;
  grid-template-rows: auto;
}

.grid1 > div {
  height: 100px;
  margin-top: 5%;
  width: 1100px;
  margin-left: 10%;
  background-color: white;
}

.grid1 > div button {
  padding: 8px;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  width: 300px;
  height: 50px;
  margin-top: 2%;
  border: none;
  border-radius: 7px;
}

.grid2 {
  display: grid;
  grid-template-rows: auto;
}

.grid2 > div {
  height: 300px;
  margin-top: 5%;
  width: 1100px;
  margin-left: 10%;
  background-color: white;
}

.top {
  border-bottom: 1px solid rgb(199, 198, 198);
  width: 950px;
  margin-left: 5%;
  margin-top: 5%;
}

.bottom {
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 10%;
}

.bottom img {
  height: 60px;
  width: 60px;
  margin: 26px;
}

.link a {
  margin: 10px;
}
